# The WordPress repository for the New Opera Company website.
[submodule "wordpress"]
	path = wordpress
	url = git@github.com:varilink/newopera-wordpress.git

# Varilink's "Libraries - Ansible Roles" repository for Ansible roles.
[submodule "roles"]
	path = roles
	url = git@github.com:varilink/libraries-ansible.git

# Varilink's "Libraries - Ansible Playbooks" repository for Ansible playbooks.
[submodule "playbooks"]
	path = playbooks
	url = git@github.com:varilink/libraries-ansible_playbooks.git

# Varilink's "Tools - GIMP" repository for theme image generation using GIMP.
[submodule "tools/gimp"]
	path = tools/gimp
	url = git@github.com:varilink/tools-gimp.git
